@font-face {
    font-family: Oswald;
    src: url("fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
  }
  body {
  background-image:
  linear-gradient(to left, rgba(245, 246, 252, 0.397), rgba(68, 67, 68, 0.986)),
  url("../img/wall2.jpg");
 
 
}
h1{
    color: black;
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Light.ttf");
    text-align: center;
   }

h3{
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Light.ttf");
   
}

#bioHeader{
  color: blue;
 


}
#skillsHeader{
  color: brown;
}
.bold {
  font-weight: bold;
  color: coral;
}

 
  .content{
    color: black;
    font-size: 14px;
    text-align: justify;
    text-transform: none;
    font: weight 600px;;
  }
  .imgDiv{
    background-color: cornflowerblue;
 
  }

  .light{
    background-color: lightgreen;
  }

  img{
    width: 22.6%;
    height: 250px;
    max-height: 75%;
    box-shadow: 3px 3px 7px black;
    margin: 1%;
  }

  #img1{
      /* visibility: hidden;*/
    /*  position: relative;
      top: 10px;
      left: 10px;*/
     /* position: fixed;
      top: 10px;
      left: 30px;*/
     /* position: absolute;*/
  }
